<div class="card-body">
  <h5 class="card-title"><a href="/t/<%- encodeURIComponent(t.User) %>/<%- encodeURIComponent(t.Template) %>"><%= t.Template %></a></h5>
  <p class="template-description card-text"><%= t.Description %></p>
  <p class="template-user card-text">Shared by 
    <a href="/u/<%= encodeURIComponent(t.User) %>"><%= t.User %></a>
  </p>
</div>
<div class="card-body">
  <button type="button" class="btn btn-outline-dark mb-2" onclick="downloadButtonClicked(this)" data-content="<%= t.Content %>">
    <span class="inline-icon download-icon"></span>
    <span class="txt">Download</span>
  </button>
</div>